.env
cerebras_os/bin/Debug/net8.0/appsettings.Development.json
cerebras_os/bin/Debug/net8.0/appsettings.json
cerebras_os/bin/Debug/net8.0/cerebras_os
cerebras_os/bin/Debug/net8.0/cerebras_os.deps.json
cerebras_os/bin/Debug/net8.0/cerebras_os.dll
cerebras_os/bin/Debug/net8.0/cerebras_os.pdb
cerebras_os/bin/Debug/net8.0/cerebras_os.runtimeconfig.json
cerebras_os/bin/Debug/net8.0/cerebras_os.staticwebassets.runtime.json
cerebras_os/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
cerebras_os/obj/Debug/net8.0/apphost
cerebras_os/obj/Debug/net8.0/cerebras_os.AssemblyInfo.cs
cerebras_os/obj/Debug/net8.0/cerebras_os.AssemblyInfoInputs.cache
cerebras_os/obj/Debug/net8.0/cerebras_os.assets.cache
cerebras_os/obj/Debug/net8.0/cerebras_os.csproj.AssemblyReference.cache
cerebras_os/obj/Debug/net8.0/cerebras_os.csproj.CoreCompileInputs.cache
cerebras_os/obj/Debug/net8.0/cerebras_os.csproj.FileListAbsolute.txt
cerebras_os/obj/Debug/net8.0/cerebras_os.dll
cerebras_os/obj/Debug/net8.0/cerebras_os.GeneratedMSBuildEditorConfig.editorconfig
cerebras_os/obj/Debug/net8.0/cerebras_os.genruntimeconfig.cache
cerebras_os/obj/Debug/net8.0/cerebras_os.GlobalUsings.g.cs
cerebras_os/obj/Debug/net8.0/cerebras_os.MvcApplicationPartsAssemblyInfo.cache
cerebras_os/obj/Debug/net8.0/cerebras_os.pdb
cerebras_os/obj/Debug/net8.0/staticwebassets.build.json
cerebras_os/obj/Debug/net8.0/staticwebassets.development.json
cerebras_os/obj/Debug/net8.0/staticwebassets.pack.json
cerebras_os/obj/Debug/net8.0/ref/cerebras_os.dll
cerebras_os/obj/Debug/net8.0/refint/cerebras_os.dll
cerebras_os/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
cerebras_os/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
cerebras_os/obj/Debug/net8.0/scopedcss/bundle/cerebras_os.styles.css
cerebras_os/obj/Debug/net8.0/scopedcss/projectbundle/cerebras_os.bundle.scp.css
cerebras_os/obj/Debug/net8.0/staticwebassets/msbuild.build.cerebras_os.props
cerebras_os/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.cerebras_os.props
cerebras_os/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.cerebras_os.props
cerebras_os/obj/Debug/net8.0/staticwebassets/msbuild.cerebras_os.Microsoft.AspNetCore.StaticWebAssets.props
